td:hover {
    background-color: #c8ffb1;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.table {
    width: auto;
}

td {
    padding: 15px;
    text-align: left;
}

img {
    width: 250px;
    height: 200px;
}

.color_text {
    color: rgba(0, 0, 0, .44);
}

.in_div {
    width: 50%;
}

.elem_div {
    margin: 0 0 20px 0;
}

.add_btn {
    margin: 20px 20px 20px 20px;
}

.lgn_btn {
    margin: 20px 0 20px 0;
}